@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


li,p, .p-inputtext, span {
    font-family: "Josefin Sans", sans-serif!important;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
h1, h2, h3 {
  font-family: "Josefin Sans", sans-serif!important;
  font-optical-sizing: auto;
  font-style: normal;
}
